# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [2]:
import pandas as pd
import numpy as np

In [3]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [5]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [7]:
black_friday.shape

(537577, 12)

In [95]:
def q1():
    return (537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [28]:
black_friday['Age'].value_counts()

26-35    214690
36-45    107499
18-25     97634
46-50     44526
51-55     37618
55+       20903
0-17      14707
Name: Age, dtype: int64

In [33]:
black_friday[black_friday['Age'] == '26-35'].groupby('Gender')['User_ID'].nunique()

Gender
F     545
M    1508
Name: User_ID, dtype: int64

In [43]:
black_friday[black_friday['Age'] == '26-35'].groupby('Gender')['User_ID'].count()

Gender
F     49348
M    165342
Name: User_ID, dtype: int64

In [32]:
def q2():
    return 49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [16]:
black_friday['User_ID'].nunique()

5891

In [6]:
def q3():
    return 5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [40]:
black_friday.dtypes.nunique()

3

In [41]:
def q4():
    return 3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [51]:
black_friday.isna().sum() / black_friday.shape[0]

User_ID                       0.000000
Product_ID                    0.000000
Gender                        0.000000
Age                           0.000000
Occupation                    0.000000
City_Category                 0.000000
Stay_In_Current_City_Years    0.000000
Marital_Status                0.000000
Product_Category_1            0.000000
Product_Category_2            0.310627
Product_Category_3            0.694410
Purchase                      0.000000
dtype: float64

In [8]:
def q5():
    return 0.694410

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [52]:
black_friday.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [105]:
def q6():
    return 373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [59]:
black_friday[black_friday.notna()]['Product_Category_3'].mode()

0    16.0
dtype: float64

In [104]:
def q7():
    return 16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [51]:
mean = black_friday['Purchase'].mean()
std = black_friday['Purchase'].std()

black_friday['Purchase_Standardized'] = (black_friday['Purchase'] - mean) / std

black_friday['Purchase_Normalized'] = (black_friday['Purchase'] - black_friday['Purchase'].min()) / (black_friday['Purchase'].max() - black_friday['Purchase'].min())

In [55]:
purchase_standarized_mean = black_friday['Purchase_Normalized'].mean()
print(f'Old mean: {mean}') 
print(f'New mean: {purchase_standarized_mean}')

Old mean: 9333.859852635065
New mean: 0.38479390362696736

In [58]:
def q8():
    return 0.38479390362696736

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [102]:
purchase_normalized_filter = (black_friday['Purchase_Standardized'] > -1) & (black_friday['Purchase_Standardized'] <= 1)

len(black_friday[purchase_normalized_filter])

348631

In [12]:
def q9():
    return 348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [20]:
filter_isna = (black_friday['Product_Category_2'].isna()) & (black_friday['Product_Category_3'].notna())
black_friday[filter_isna]

Empty DataFrame
Columns: [User_ID, Product_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Product_Category_1, Product_Category_2, Product_Category_3, Purchase]
Index: []

In [13]:
def q10():
    return True